@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); /*Font: Inter*/

/*Cambios globales -(Reset)- Se eliminan los estilos por defecto de los navegadores*/
*{ /*Selecto universal*/
    padding: 0;
    margin: 0;
}

:root{ /*Declaracion de variables*/
    --fuente-texto: "Inter", sans-serif;
    --color-primario: #F3F5FC;  /*color fondo*/
    --color-secundario:  #0A3871;  /*boton encriptafor y algunos textos, fondo pie de pagina*/
    --color-terciario: #FFFFFF; /*color fondo texto cuadro de salida*/
    --color-cuaternario: #D8DFE8; /*fondo del boton secundario*/ 
    --color-quinto: #000000; /*algunos textos, etc*/
    --color-sexto: #495057; /*texto de informacion y texto de salida*/
}

body{
    box-sizing: border-box; /*Hace que ocupe todo el tamaño posible sin salirse de los bordes*/
    background-color: var(--color-primario); /*Des esta forma se usan las variables declaradas anteriormente*/
    font-family: var(--fuente-texto);
}

.encriptador{
    display: flex; /*por defecto alinea los elementos de izquierda a derecha*/
}

.presentacion{
    width: 100%; /*Utiliza el 100% del ancho de la pantalla*/
}

.imagen_logo{ /*Se alinea el logo respecto al modelo figma*/
    height: 48px; /*altura*/
    width: 32px; /*ancho*/
    padding: 40px 0 0 84px; /*borde: /suberior /derecha /inferior /izquierda*/
}

.presentacion_bloque{
    display: flex;
    flex-direction: column; /*alinea los elementos de forma vertical*/
    margin: 78px 10% 0 20%;  /*80px 80px 0 240px (valores de figma)*/
    height: auto;
    background-color: var(--color-primario);
    width: auto;
}

::placeholder{   /*Usando un pseudoelemento para acceder al placeholder del textarea*/
    color: var(--color-secundario); /*Color del texto mostrado inicialmente en el textarea*/
    font-size: 2rem; /*32px  -  1rem = 16px*/
}

.presentacion_texto{ /*Cuadro de texto*/
    background-color: var(--color-primario); /*fondo del cuadro de texto*/
    resize: none;                            /*Esto evita que el usuario pueda redimensionar el textarea*/
    font-size: 2rem; /*32px  -  1rem = 16px  tamaño del texto ingresdo por el usuario*/
    color: var(--color-secundario);          /*color del texto ingresado por el usuario*/
    border: none;                            /*Elimina el borde del textarea*/
    height: 685px;                           /*o 20 rows*/
}

.presentacion_texto_informacion{
    margin-top: 16px; /*mergen superior*/
    margin-bottom: 16px; /*margen inferior*/
    color: var(--color-sexto);
}

.boton{
    display: flex;
    gap: 24px; /*Espacio entre los dos botones (elementos)*/
}

.boton_primario{
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    width: 50%; /*328px*/
    padding: 3%; /*24px*/
    border-radius: 24px;
    font-size: 1rem;
    border: 2px solid var(--color-quinto); /* tamaño de la linea del borde / tipo de linea / color */
}


.boton_secundario{
    background-color: var(--color-cuaternario);
    width: 50%; /*328px*/
    padding: 3%; /*24px*/
    border-radius: 24px;
    font-size: 1rem;
    color: var(--color-secundario);
    border: 2px solid var(--color-quinto); /*Borde del boton*/
}

.boton_primario:hover{ /*Se aplican los cambios cuando se pasa el mouse sobre el boton*/
    background-color: var(--color-quinto);
    font-weight: 500; /*grueso del texto*/
}

.boton_secundario:hover{
    background-color: var(--color-quinto);
    font-weight: 500;
    color: var(--color-terciario);
}

.cuadro_salida{
    word-wrap: break-word; /*para que el texto resultado no se desborde*/
    background-color: var(--color-terciario);
    border-radius: 32px;
    height: 944px;
    width: 30%;
    margin-top: 40px;
    margin-right: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /*Difuminado al borde del cuadro de salida*/
}

.salida_resultado{
    overflow: auto; /*Esto evita que textos largos se desborden por debajo del cuadro, agrega barras de desplazamiento cuando el contenido sea más grande que el contenedor*/
    display: none; /*no hay texto de salida en un principio, solo la imgane predeterminada*/
    width: auto; /*se ajusta al ancho del contenedor (cuadro_salida)*/
    margin: 32px;
    height: 781px;
    color: var(--color-sexto);
    font-size: 24px;
}

.bloque_boton_copiar{
    display: none; /*no se muestra al inicio*/
    margin: 32px;
}

.boton_copiar{
    background-color: var(--color-terciario);
    width: 100%; /*ocupa el 80% del ancho del espacio*/
    padding: 24px; /*24px*/
    border-radius: 24px; /*bordes con curva de 24px*/
    font-size: 1rem; /*tamaño del texto*/
    color: var(--color-secundario); /*color del texto*/
    border: 2px solid var(--color-quinto); /*Borde del boton*/
}

.boton_copiar:hover{
    background-color: var(--color-quinto);
    font-weight: 500;
    color: var(--color-terciario);
}

.salida{
    text-align: center;
}

.muñeco{
    padding: 50% 5% 5% 5%; /*243px 32px 32px 32px*/
    width: 80%;
    /*height: 80%; 230px*/
}

.salida_texto1{
    font-size: 1.5rem; /*24px*/
    font-weight: bold;
    padding-bottom: 5%; /*16px*/
}

.salida_texto2{
    font-size: 1rem; /*16px*/
    padding-left: 2%;
    padding-right: 2%;
}

.pieDePagina{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    font-weight: 500;
    margin-top: 10px;
    padding: 2%; /*25px*/

}

.foot{
    margin: 5px;
}

.pieDePagina_enlaces{
    border-radius: 8px;
}

.pieDePagina_enlaces:hover{
    background-color: black;
}

/* Media Queries */

/* pagina responsiva - tablets a partir de width: 768px */
@media(max-width: 768px){
    .encriptador{
        flex-direction: column;
    }

    .imagen_logo{
        padding: 73.42px 0 0 40px;
    }
    .presentacion_bloque{
        margin: 116px 40px 0 40px;  /*1rem = 16px  -  116px 40px 0 40px */
    }

    .presentacion_texto{
        height: 572px;
    }

    .cuadro_salida{
        height: auto; /*133px*/
        width: auto;
        margin: 40px;
    }

    .salida_resultado{
        height: auto;
    }

    .muñeco{
        display: none;
    }

    .salida_texto1{
        padding-top: 5%; /*32px*/
    }
    
    .salida_texto2{
        padding-bottom: 5%; /*32px*/
    }
}

/* pagina responsiva - celulares a partir de width: 375px */
@media(max-width: 375px){

    .encriptador{
        flex-direction: column;
    }

    .imagen_logo{
        padding-top: 24px;
        padding-left: 16px;
    }

    .presentacion_bloque{
        margin: 56px 16px 0 16px;  /*1rem = 16px  -  116px 40px 0 40px */
    }

    .presentacion_texto{
        height: 200px;
    }

    .cuadro_salida{
        height: auto; /*133px*/
        width: auto;
        margin: 40px 16px 30px 16px;
    }

    .salida_resultado{
        height: auto;
    }

    .muñeco{
        display: none;
    }

    .salida_texto1{
        padding-top: 5%; /*32px*/
    }
    
    .salida_texto2{
        padding-bottom: 5%; /*32px*/
    }

    .boton{
        flex-direction: column;
    }

    .boton_primario{
        width: 100%;
        padding: 24px;
    }

    .boton_secundario{
        width: 100%;        
        padding: 24px;
    }
}